@charset "utf-8";

/* 어린이 도청 상단 깨기 */
@media all and (min-width:1401px){
    #lnb .nav .depth1 .depth1_list{width:600px}
    #lnb .nav .depth1 .depth1_list .depth1_item{width:33.33%;}
    #lnb .nav .depth1 .depth1_list .depth1_item:nth-child(2) .depth1_text{padding-left:10px;}
}
@media all and (min-width:1001px) and (max-width:1400px){
    #lnb .nav .depth1 .depth1_list{width:500px}
}

.weatherbox{display:none;}

/* 담당자요청 실섭기준 상단 변경 */
.header_top .gnb ul{float:left;}
.header_top .gnb ul{display:block;width:auto;box-sizing:border-box;}
.header_top .gnb ul li{display:block;float:left;position:relative;line-height:20px;box-sizing:border-box;}
.header_top .gnb ul li a{display:block;position:relative;padding:15px 18px 14px 18px;font-size:15px;color:#646770;line-height:20px;letter-spacing:0;}
.header_top .gnb ul li a:before{display:block;position:absolute;top:19px;right:0;width:1px;height:13px;background-color:#d9dfe7;content:'';}
.header_top .gnb ul li a:after{display:block;position:absolute;top:0;left:0;width:1px;background-color:transparent;content:'';}
.header_top .gnb ul li a:hover{background-color:#fafbfd;text-decoration:none;}
.header_top .gnb ul li:last-child a:before{display:none;}
.header_top .gnb ul li a:hover:before{top:0;height:100%;}
.header_top .gnb ul li:last-child a:hover:before{display:block;}
.header_top .gnb ul li a:hover:after{left:-1px;height:100%;background-color:#d9dfe7;}
#lnb .lnb_topbox .lnb_gnb ul li.login{margin-right:0;}
#lnb .lnb_topbox .lnb_gnb ul li.search{display:none;}

/* 24.4.1 어린이 도청 메인레이아웃 수정*/
@font-face {
    font-family:'Rikodeo';
    src:url(../font/HakgyoansimRikodeoR.woff2) format('font-woff2'),
    url(../font/HakgyoansimRikodeoR.woff) format('woff');
}
#lnb .nav:before{display:none;}
.header_box .wrap .logo a .logo_text{font-family:'Rikodeo','NotoKr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
#footer .footer_box .wrap .footer_site{display:inline-block;position:absolute;top:0;right:0;font-size:0;line-height:0;}
#footer .footer_box .wrap .footer_site .site_item{overflow:hidden;display:inline-block;border:1px solid rgba(173,178,184,0.6);border-radius:5px;}
@media screen and (max-width:1000px) {
    .header_box .wrap .logo a .logo_text{padding-top:12px;}
    .footer_box .footer_nav:before{display:none;}
}
@media screen and (max-width:640px) {
    .footer_box{padding-bottom:100px;}
    #footer .footer_box .wrap .footer_site{top:auto;right:auto;bottom:-69px;left:-9px;transform:scale(0.86);}
    .footer_box .footer_nav:before{display:block;width:300px;}
}