@charset "utf-8";
/* (주)한신정보기술 박남규 - 2021.08 */

.weatherbox{display:none;}
@media all and (min-width:1401px){
    #lnb .nav .depth1 .depth1_list{width:800px;}
    #lnb .nav .depth1 .depth1_list .depth1_item:nth-child(1){width:32%;}
    #lnb .nav .depth1 .depth1_list .depth1_item:nth-child(2){width:17%;}
    #lnb .nav .depth1 .depth1_list .depth1_item:nth-child(3){width:17%;}
    #lnb .nav .depth1 .depth1_list .depth1_item:nth-child(3) .depth1_text{padding-left:25px;}
    #lnb .nav .depth1 .depth1_list .depth1_item:nth-child(4){width:17%;}
    #lnb .nav .depth1 .depth1_list .depth1_item:nth-child(4) .depth1_text{padding-left:20px;}
    #lnb .nav .depth1 .depth1_list .depth1_item:nth-child(5){width:17%;}
}
@media all and (min-width:1001px) and (max-width:1400px){
    #lnb .nav .depth1 .depth1_list{width:660px;}
}

/* 담당자요청 실섭기준 상단 변경 */
.header_top .gnb ul{float:left;}
.header_top .gnb ul{display:block;width:auto;box-sizing:border-box;}
.header_top .gnb ul li{display:block;float:left;position:relative;line-height:20px;box-sizing:border-box;}
.header_top .gnb ul li a{display:block;position:relative;padding:15px 18px 14px 18px;font-size:15px;color:#646770;line-height:20px;letter-spacing:0;}
.header_top .gnb ul li a:before{display:block;position:absolute;top:19px;right:0;width:1px;height:13px;background-color:#d9dfe7;content:'';}
.header_top .gnb ul li a:after{display:block;position:absolute;top:0;left:0;width:1px;background-color:transparent;content:'';}
.header_top .gnb ul li a:hover{background-color:#fafbfd;text-decoration:none;}
.header_top .gnb ul li:last-child a:before{display:none;}
.header_top .gnb ul li a:hover:before{top:0;height:100%;}
.header_top .gnb ul li:last-child a:hover:before{display:block;}
.header_top .gnb ul li a:hover:after{left:-1px;height:100%;background-color:#d9dfe7;}
#lnb .lnb_topbox .lnb_gnb ul li.login{margin-right:0;}
#lnb .lnb_topbox .lnb_gnb ul li.search{display:none;}

/* iapc2024 반응형 상단 메뉴 크기조정 */
#lnb .nav:before{display:none;}
.footer_box{border-top:1px solid rgba(207, 210, 216, 0.35);}
@media all and (max-width:1400px){
    #lnb .nav .depth1 .depth1_list .depth1_item{max-width:200px;}
}