@charset "UTF-8";

/* 본고딕 */
@font-face{
	font-family:'NotoKr';
	font-weight: 200;
	src:url("../font/SpoqaHanSans-Light.eot");
	src:url("../font/SpoqaHanSans-Light.eot?#iefix") format('embedded-opentype');
}
@font-face{
	font-family:'NotoKr';
	font-weight: 400;
	src:url("../font/SpoqaHanSans-Regular.eot");
	src:url("../font/SpoqaHanSans-Regular.eot?#iefix") format('embedded-opentype');
}
@font-face{
	font-family:'NotoKr';
	font-weight: 600;
	src:url("../font/SpoqaHanSans-Bold.eot");
	src:url("../font/SpoqaHanSans-Bold.eot?#iefix") format('embedded-opentype');
}

/* Lato */
@font-face{
	font-family:'Lato';
	font-weight: 200;
	src:url("../font/Lato-Light.eot");
	src:url("../font/Lato-Light.eot?#iefix") format('embedded-opentype');
}
@font-face{
	font-family:'Lato';
	font-weight: 400;
	src:url("../font/Lato-Regular.eot");
	src:url("../font/Lato-Regular.eot?#iefix") format('embedded-opentype');
}
@font-face{
	font-family:'Lato';
	font-weight: 600;
	src:url("../font/Lato-Bold.eot");
	src:url("../font/Lato-Bold.eot?#iefix") format('embedded-opentype');
}