@charset "UTF-8";

/* 본고딕 NotoKR */
@font-face{
	font-family:'NotoKr';
	font-weight: 400;
	src:url("../../../common/font/SpoqaHanSans-Regular.woff2") format('woff2'),
	url("../../../common/font/SpoqaHanSans-Regular.woff") format('woff');
}
@font-face{
	font-family:'NotoKr';
	font-weight: 600;
	src:url("../../../common/font/SpoqaHanSans-Bold.woff2") format('woff2'),
	url("../../../common/font/SpoqaHanSans-Bold.woff") format('woff');
}

/* 지마켓 */
@font-face{
	font-family:'Gmark';
	font-weight: 200;
	src:url("../../../common/font/GmarketSansLight.woff2") format('woff2'),
	url("../../../common/font/GmarketSansLight.woff") format('woff');
}
@font-face{
	font-family:'Gmark';
	font-weight: 400;
	src:url("../../../common/font/GmarketSansMedium.woff2") format('woff2'),
	url("../../../common/font/GmarketSansMedium.woff") format('woff');
}

/* 빙그레 */
@font-face{
	font-family:'Bing';
	font-weight: 400;
	src:url("../../../common/font/Binggrae.woff2") format('woff2'),
	url("../../../common/font/Binggrae.woff") format('woff');
}

@font-face{
	font-family:'Bing';
	font-weight: 600;
	src:url("../../../common/font/Binggrae-Bold.woff2") format('woff2'),
	url("../../../common/font/Binggrae-Bold.woff") format('woff');
}
